apiVersion: 1
prune: true

datasources:
  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: {{ grafana_prometheus_url }}
    isDefault: true
    editable: false
    jsonData:
      timeInterval: {{ prometheus_scrape_interval }}

  - name: Loki
    uid: loki
    type: loki
    access: proxy
    url: {{ grafana_loki_url }}
    editable: false
    jsonData:
      maxLines: 1000
