[defaults]
inventory = inventory.ini
roles_path = ./.ansible/roles:./roles
collections_path = ./.ansible/collections
local_tmp = /tmp/ansible-local-tmp
host_key_checking = True
retry_files_enabled = False

[ssh_connection]
pipelining = True
